/* Colors */
$color_blue: rgb(20, 100, 160);
$color_grey: rgb(100, 100, 100);
$color_red_error: rgb(100, 10, 10);
$color_green_success: rgb(10, 100, 10);

ion-button {
    --color: rgb(20, 100, 160);
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px;
}

.collectedInfo {
    font-size: 20px;
    text-align: end;
}

.collectionDate {
    font-size: 13px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    margin: 0;
}

.collected {
    color: $color_green_success;
}

.noCollected {
    color: $color_red_error;
}

.invoiceDate {
    color: $color_blue;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.customerName {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.customerCif {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.customerData {
    color: black;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.dividerBar {
    color: $color_blue;
    font-weight: 600;
}

.invoiceConcept {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.conceptName {
    color: $color_blue;
}

.invoiceTotalAmount {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: end;
}

.invoiceRemarks {
    color: $color_grey;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

.btnDelete {
    color: $color_red_error;
}
