/* Colors */
$color_blue: rgb(20, 100, 160);
$color_grey: rgb(100, 100, 100);
$color_red_error: rgb(100, 10, 10);
$color_green_success: rgb(10, 100, 10);

ion-button {
    --color: rgb(20, 100, 160);
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px;
}

.invoiceNumber {
    color: black;
    margin-right: 5px;
    font-size: 13px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
}

.collectedInfo {
    font-size: 20px;
    text-align: end;
    margin-bottom: 20px;
}

.collectionDate {
    font-size: 11px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    margin-right: 5px;
}

.collected {
    color: $color_green_success;
}

.noCollected {
    color: $color_red_error;
}

.invoiceDate {
    color: $color_blue;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.customerName {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.customerCif {
    font-family: "Oswald", sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

.customerData {
    color: black;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: solid rgb(100, 100, 100, 0.3) 1px;
    border-bottom: solid rgb(100, 100, 100, 0.3) 1px;
}

.dividerBar {
    color: $color_blue;
    font-weight: 600;
}

.remarksContainer {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid rgb(100, 100, 100, 0.3) 1px;
}

.remarks {
    color: black;
    font-family: "Oswald", sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

.conceptName {
    color: $color_blue;
    font-family: "Oswald", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-align: start;
}

.conceptAmount {
    color: black;
    font-family: "Oswald", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-align: end;
}

.invoiceTax {
    font-family: "Oswald", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-align: start;
}

.invoiceTotalAmount {
    font-family: "Oswald", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-align: end;
}

.eSymbol {
    color: rgb(210, 160, 25);
}

.btnRow {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: solid rgb(100, 100, 100, 0.3) 1px;
}

.btnDelete {
    color: $color_red_error;
}
