<ion-content>
  <ion-grid>
    <ion-row class='ion-justify-content-center ion-align-items-center'>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle class="collectedInfo">
            <ion-icon *ngIf="invoice.collected" class="collected" name="checkmark-circle"></ion-icon>
            <ion-icon *ngIf="!invoice.collected" class="noCollected" name="close-circle"></ion-icon>
            <p class="collectionDate" *ngIf="invoice.collected">
              {{invoice.collectionDate | date: "d/M/yyyy"}}
            </p>
          </ion-card-subtitle>
          <ion-card-subtitle class="invoiceDate">{{invoice.date | date: "d/M/yyyy"}}</ion-card-subtitle>
          <ion-card-title class="customerName">{{invoice.customerId.name}}</ion-card-title>
          <ion-card-subtitle class="customerCif">{{invoice.customerId.cif}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="customerData">
          <p>{{invoice.customerId.email}}</p>
          <p>{{invoice.customerId.contact}} <span class="dividerBar">/</span> {{invoice.customerId.phone}}</p>
          <p>{{invoice.customerId.address}}</p>
        </ion-card-content>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let concept of invoice.concepts; index as i;">
              <ion-label class="invoiceConcept">
                <span class="conceptName">{{concept.concept}}</span>: {{concept.amount}}€
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-item>
            <ion-label class="invoiceTotalAmount">
              IVA: {{invoice.taxableIncome}}%
              <span class="dividerBar">/</span>
              Total: {{invoice.totalAmount}}€
            </ion-label>
          </ion-item>
          <p class="invoiceRemarks">
            {{invoice.remarks}}
          </p>
        </ion-card-content>
      </ion-card>

    </ion-row>

    <ion-row class='ion-justify-content-between ion-align-items-center'>

      <ion-button fill="clear" (click)="deleteInvoice();" class="btnDelete">Eliminar</ion-button>
      <ion-button fill="clear" (click)="collectInvoice();" [disabled]="invoice.collected">
        {{invoice.collected ? "Cobrada" : "Cobrar"}}
      </ion-button>
      <ion-button fill="clear" (click)="shareInvoice();">Descargar</ion-button>

    </ion-row>

  </ion-grid>
</ion-content>