<nav class="container-fluid sb-topnav navbar navbar-expand navBarra">

    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <a class="tituloNav" href="dashboard">Facturador</a>
                </div>
            </div>
        </div>
    </div>

    <button class="order-1 order-lg-0 btnSidebar" id="sidebarToggle" href="#!" (click)="sidebar(!class)">
        <i class="bi bi-layout-text-sidebar-reverse iconoSidebar"></i>
    </button>

    <ul class="navbar-nav form-inline ms-auto me-0 me-md-3 my-2 my-md-0  {{esLogout ? 'navbarLogout' : ''}}">

        <li class="nav-item dropdown">
            <a class="nav-link" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bi bi-person-fill iconoUsuario"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end listaAjustes" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item d-flex justify-content-between" (click)="goUser();">
                        <span class="enlaceItem">Mis Datos</span>
                        <i class="iconoMenu bi bi-gear-wide-connected iconoSeccion"></i>
                    </a>
                </li>
                <li class="dropdown-divider"></li>
                <li><a class="dropdown-item d-flex justify-content-between" (click)="logout()">
                        <span class="enlaceItem">Salir</span><i class="iconoMenu bi bi-box-arrow-right iconoSalir"></i>
                    </a>
                </li>
            </ul>
        </li>

    </ul>

</nav>