<div class="container-fluid">

    <div class="row titleRow">
        <div class="col-12 d-flex justify-content-start">
            <i class="titleIcon bi bi-folder-fill"></i>
            <p class="titleText">Factura</p>
        </div>
    </div>

    <div class="row contentRow">
        <div class="card">

            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <p class="companyName">{{invoice.invoiceId}}</p>
                    </div>
                    <div class="col-6">
                        <p *ngIf="invoice.collected" class="collectionInfo">
                            {{invoice.collectionDate | date: "d/M/yyyy"}}
                            <i class="bi bi-circle-fill collectedIcon"></i>
                        </p>
                        <p *ngIf="!invoice.collected" class="collectionInfo"><i
                                class="bi bi-circle-fill uncollectedIcon"></i></p>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-6 d-flex justify-content-start">
                        <div class="customerData">
                            <p class="card-text textDate">{{invoice.date | date: "d/M/yyyy"}}</p>
                            <p class="card-text textName">{{invoice.customerId.name}}</p>
                            <p class="card-text textCif">{{invoice.customerId.cif}}</p>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <div class="customerContact">
                            <p class="card-text textContact">{{invoice.customerId.email}}</p>
                            <p class="card-text textContact">{{invoice.customerId.contact}} /
                                {{invoice.customerId.phone}}
                            </p>
                            <p class="card-text textContact">{{invoice.customerId.address}}</p>
                        </div>
                    </div>
                </div>
                <div class="invoiceConcepts">
                    <p *ngFor="let concept of invoice.concepts; index as i" class="card-text textConcept">
                        {{concept.concept}} - <span class="textConceptAmount">{{concept.amount}}€</span>
                    </p>
                </div>
                <div class="invoiceAmount">
                    <p class="card-text textAmount">{{invoice.taxableIncome}}% / {{invoice.totalAmount}}€</p>
                </div>
                <div class="invoiceRemarks">
                    <p class="card-text textRemarks text-break">{{invoice.remarks}}</p>
                </div>
            </div>

            <div class="card-footer">
                <div class="row btnRow">
                    <div class="col-12 d-flex justify-content-between">
                        <div class="d-flex justify-content-center btn-group dropup">
                            <button class="deleteInvoiceBtn btnOptions" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Eliminar
                            </button>
                            <ul class="container-fluid dropdown-menu menuConfirmacion">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="textoConfirmar">
                                            ¿Seguro/a?
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 containerConfirmar d-flex justify-content-center">
                                        <button type="button" class="btnConfirmar"
                                            (click)="confirmDeleteInvoice();">Eliminar</button>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div class="d-flex justify-content-center btn-group dropup">
                            <button class="collectInvoiceBtn btnOptions" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false" [disabled]="invoice.collected">
                                {{invoice.collected ? "Cobrada" : "Cobrar"}}
                            </button>
                            <ul class="container-fluid dropdown-menu menuConfirmacion">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="textoConfirmar">
                                            ¿Seguro/a?
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 containerConfirmar d-flex justify-content-center">
                                        <button type="button" class="btnConfirmar"
                                            (click)="confirmCollectInvoice();">Cobrar</button>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <button class="shareInvoiceBtn btnOptions" (click)="shareInvoice();"
                            [disabled]="invoice === undefined || company === undefined || user === undefined">
                            Compartir
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>