<ion-content>

  <ion-grid>

    <ion-row class='titleRow ion-justify-content-center ion-align-items-center'>
      <ion-col size='8' sizeMd='6' sizeLg='4' class='centerCol titleCol'>
        <div class="title">
          Facturador
        </div>
        <div class="hiddenTitle">
          <span class="hiddenTitleBy">by</span>
          <span class="hiddenTitleName">JL Pastor</span>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class='ion-justify-content-center ion-align-items-center'>
      <ion-col size="9" sizeSm="7" sizeMd='5' sizeLg="3">

        <form [formGroup]='registerForm'>

          <ion-row class='formRow ion-justify-content-center ion-align-items-center'>
            <ion-icon name="mail-outline"></ion-icon>
            <ion-item>
              <ion-input formControlName="email" type="text" placeholder="Email">
              </ion-input>
            </ion-item>
          </ion-row>

          <ion-row class='formRow ion-justify-content-center ion-align-items-center'>
            <ion-icon name="person-add-outline"></ion-icon>
            <ion-item>
              <ion-input formControlName="name" type="text" placeholder="Nombre Completo">
              </ion-input>
            </ion-item>
          </ion-row>

          <ion-row class='formRow ion-justify-content-center ion-align-items-center'>
            <ion-icon name="call-outline"></ion-icon>
            <ion-item>
              <ion-input formControlName="phone" type="text" placeholder="Teléfono">
              </ion-input>
            </ion-item>
          </ion-row>

          <ion-row class='formRow ion-justify-content-center ion-align-items-center'>
            <ion-icon name="{{!displayedPassword ? 'lock-closed-outline' : 'lock-open-outline'}}"
              (click)="showPassword();">
            </ion-icon>
            <ion-item>
              <ion-input formControlName="newPassword" type="{{!displayedPassword ? 'password' : 'text'}}"
                placeholder="Contraseña">
              </ion-input>
            </ion-item>
          </ion-row>

          <ion-row class='formRow ion-justify-content-center ion-align-items-center'>
            <ion-icon name="{{!displayedPassword ? 'lock-closed' : 'lock-open'}}" (click)="showPassword();">
            </ion-icon>
            <ion-item>
              <ion-input formControlName="reNewPassword" type="{{!displayedPassword ? 'password' : 'text'}}"
                placeholder="Repetir Contraseña">
              </ion-input>
            </ion-item>
          </ion-row>

          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-button fill="clear" (click)="goLogin();">Cancelar</ion-button>
            <ion-spinner color="primary" *ngIf="showSpinnerRegister"></ion-spinner>
            <ion-icon name="checkmark-outline" *ngIf="showCorrectRegister"></ion-icon>
            <ion-icon name="close-outline" *ngIf="showErrorRegister"></ion-icon>
            <ion-button fill="clear" (click)="registerUser();" [disabled]="!registerForm.valid">Guardar</ion-button>
          </ion-row>

        </form>

        <ion-row class='mottoRow ion-justify-content-center ion-align-items-center'>
          <p class="motto">Designed and assembled by JL Pastor.</p>
        </ion-row>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>