// Variables
$color_azul: rgb(20, 100, 160);
$color_gris: rgb(100, 100, 100);
$color_rojo_error: rgba(190, 65, 65, 0.7);
$color_verde_correcto: rgba(100, 170, 65, 0.4);
//

.titleRow {
    margin-bottom: 20px;
}

.titleIcon {
    font-size: 25px;
    margin-right: 10px;
}

.titleText {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: rgb(100, 100, 100);
}

.optionsRow {
    margin-bottom: 30px;
}

.btnFilterRow {
    margin-top: 10px;
}

input {
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Oswald", sans-serif;
    border: solid black 2px;
    border-radius: 4px;
    outline: none;
    font-size: 15px;
    transition: 0.2s;
    &:focus {
        border: solid $color_azul 2px;
        box-shadow: 4px 4px 0px;
        transform: translate(-4px, -4px);
    }
}

.btnFilter {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    border: solid black 2pt;
    &:hover {
        transition: 0.1s;
        box-shadow: 4px 4px 0px black;
        transform: translate(-4px, -4px);
    }
}

.btnFilterUncollected {
    background-color: rgb(200, 120, 120);
}

.btnFilterCollected {
    background-color: rgb(130, 180, 130);
}

.btnFilterAll {
    background-color: rgb(150, 150, 150);
}

.card {
    border: solid rgb(200, 200, 200) 2px;
    box-shadow: -6px 6px 6px rgb(200, 200, 200);
    &:hover {
        border: solid rgb(20, 100, 160, 0.6) 2px;
        box-shadow: -12px 12px 7px rgb(20, 100, 160, 0.5);
        transform: translate(5px, -5px);
        transition: 0.2s;
        cursor: pointer;
    }
}

p {
    margin: 0px;
}

.ccCol {
    margin-bottom: 20px;
}

.companyCard {
    cursor: pointer;
}

.collectionInfo {
    text-align: end;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: $color_gris;
}

.collectedIcon {
    margin-left: 5px;
    color: rgb(130, 180, 130);
}

.uncollectedIcon {
    margin-left: 5px;
    color: rgb(185, 85, 85);
}

.companyName {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: start;
}

.card-text {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.textName {
    font-weight: 800;
}

.textDate {
    margin-bottom: 10px;
}

.textRemarks {
    margin-bottom: 10px;
}

.textAmount {
    font-weight: 800;
    text-align: end;
}
