/* Colors */
$color_blue: rgb(20, 100, 160);
$color_grey: rgb(100, 100, 100);
$color_red_error: rgb(100, 10, 10);
$color_green_success: rgb(10, 100, 10);

ion-button {
    --color: rgb(20, 100, 160);
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.sectionTitle {
    color: $color_blue;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.invoiceDate {
    color: $color_grey;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.dataTitle {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.dataInfo {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.dividerBar {
    color: $color_blue;
    font-weight: 600;
}

.conceptInput {
    font-family: "Oswald", sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.amountInput {
    font-family: "Oswald", sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.colDeleteConcept {
    display: flex;
    align-items: flex-end;
}

.btnDelete {
    --color: rgb(100, 10, 10);
}

.taxesRow {
    display: flex;
    justify-content: flex-end;
}

.lblTotalAmount {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.eSymbol {
    color: rgb(210, 160, 25);
}

.btnCancel {
    --color: rgb(100, 10, 10);
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
}
