<ion-content>

  <ion-item>
    <ion-label class="sectionTitle">{{company.name}}</ion-label>
  </ion-item>

  <ion-card (click)="goUser();">
    <ion-card-header>
      <ion-card-title class="dataTitle">
        {{company.cif}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="dataInfo">{{user.email}} <span class="dividerBar">/</span> {{user.phone}}</p>
      <p class="dataInfo">{{company.address}}</p>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label class="sectionTitle">Cliente</ion-label>
    <ion-select [(ngModel)]="customer" interface="popover">
      <ion-select-option *ngFor="let customer of customers; index as i;" [value]="customer">
        {{customer.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card *ngIf="customer.customerId != 0" (click)="goCustomerDetail();">
    <ion-card-header>
      <ion-card-title class="dataTitle">
        {{customer.cif}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="dataInfo">{{customer.email}} <span class="dividerBar">/</span> {{customer.phone}}</p>
      <p class="dataInfo">{{customer.address}}</p>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label class="sectionTitle">Conceptos</ion-label>
  </ion-item>

</ion-content>