<ion-content>

  <!-- User & Company -->

  <ion-item>
    <ion-label class="sectionTitle">{{company.name}}</ion-label>
    <ion-label slot="end" class="invoiceDate">{{today}}</ion-label>
  </ion-item>

  <ion-card (click)="goUser();">
    <ion-card-header>
      <ion-card-title class="dataTitle">
        {{company.cif}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="dataInfo">{{user.email}} <span class="dividerBar">/</span> {{user.phone}}</p>
      <p class="dataInfo">{{company.address}}</p>
    </ion-card-content>
  </ion-card>

  <!-- Customer -->

  <ion-item>
    <ion-label class="sectionTitle">Cliente</ion-label>
    <ion-select [(ngModel)]="customer" interface="alert" okText="Seleccionar" cancelText="Cancelar">
      <ion-select-option *ngFor="let customer of customers; index as i;" [value]="customer">
        {{customer.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card *ngIf="customer.customerId != 0" (click)="goCustomerDetail();">
    <ion-card-header>
      <ion-card-title class="dataTitle">
        {{customer.cif}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="dataInfo">{{customer.email}} <span class="dividerBar">/</span> {{customer.phone}}</p>
      <p class="dataInfo">{{customer.address}}</p>
    </ion-card-content>
  </ion-card>

  <!-- Invoice & Concepts -->

  <ion-item>
    <ion-label class="sectionTitle">Conceptos</ion-label>
    <ion-label class="lblTotal">Total: {{totalAmount}} €</ion-label>
    <ion-button slot="end" fill="clear" (click)="addConcept();">
      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-card *ngIf="concepts.length != 0">
    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let concept of concepts; index as i;">
          <ion-col size="6">
            <ion-item>
              <ion-label class="dataInfo" position="floating">Concepto</ion-label>
              <ion-input [(ngModel)]="concepts[i].concept" class="conceptInput"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label class="dataInfo" position="floating">Importe</ion-label>
              <ion-input [(ngModel)]="concepts[i].amount" class="amountInput" type="number"
                (change)="updateTotalAmount();"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2" class="btnCol">
            <ion-button class="redBtn" fill="clear" (click)="deleteConcept(i);">
              <ion-icon slot="icon-only" name="trash-bin-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row class="taxRow">
      <ion-col size="4">
        <ion-item>
          <ion-label class="dataInfo" position="floating">% IVA</ion-label>
          <ion-input [(ngModel)]="taxableIncome" class="amountInput" (change)="updateTotalAmount();"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- User & Company -->

  <ion-item>
    <ion-label class="sectionTitle">Datos Bancarios</ion-label>
  </ion-item>

  <ion-card (click)="goUser();">
    <ion-card-header>
      <ion-card-title class="dataTitle">
        {{company.iban}}
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- Invoice -->

  <ion-item>
    <ion-label class="sectionTitle">Comentarios</ion-label>
  </ion-item>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-textarea [(ngModel)]="remarks" class="conceptInput"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>


  <ion-item class="btnItem" lines="none">
    <ion-button class="redBtn" slot="start" fill="clear" (click)="resetInvoice();"
      [disabled]="customer.customerId === 0 && concepts.length === 0">
      Cancelar
    </ion-button>
    <ion-spinner slot="end" color="primary" *ngIf="showSpinnerInvoice"></ion-spinner>
    <ion-icon slot="end" name="checkmark-outline" *ngIf="showCorrectInvoice"></ion-icon>
    <ion-icon slot="end" name="close-outline" *ngIf="showErrorInvoice"></ion-icon>
    <ion-button slot="end" fill="clear" (click)="addInvoice();">
      Compartir
    </ion-button>
  </ion-item>

</ion-content>