// Variables
$color_azul: rgb(20, 100, 160);
$color_gris: rgb(100, 100, 100);
$color_rojo: rgb(190, 65, 65);
$color_amarillo: rgb(240, 240, 170);
$color_rojo_error: rgba(190, 65, 65, 0.4);
$color_verde_correcto: rgba(115, 190, 65, 0.4);
//

.imgContainer {
    z-index: -100;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.imgFondo {
    position: relative;
    right: -20vh;
    bottom: -200px;
    opacity: 10%;
}

.titleRow {
    margin-bottom: 25px;
}

.title {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: $color_gris;
}

.formRow {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bi,
.fa {
    font-size: 18px;
    margin-right: 10px;
}

.hideNewPass {
    display: none;
}

.displayNewPass {
    position: relative;
    animation: showNewPass 0.7s ease 0s 1 normal forwards;
}

.formInput {
    padding-left: 5px;
    font-family: "Oswald", sans-serif;
    border: solid black 2px;
    border-radius: 4px;
    outline: none;
    font-size: 15px;
    &:focus {
        transition: 0.2s;
        border: solid $color_azul 2px;
        box-shadow: -4px 4px 0px;
        transform: translate(4px, -4px);
    }
}

.btnMod {
    margin-left: 15px;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    border: solid black 2pt;
    background-color: $color_azul;
    color: white;
    &:hover {
        transition: 0.1s;
        box-shadow: 4px 4px 0px black;
        transform: translate(-4px, -4px);
    }
}

.btnModPass {
    color: $color_azul;
    font-weight: 600;
    background-color: transparent;
}

.btnNoMod {
    margin-left: 15px;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    border: solid black 2pt;
    background-color: $color_gris;
    opacity: 50%;
}

.btnCancel {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    border: solid black 2pt;
    background-color: $color_rojo;
    color: white;
    &:hover {
        transition: 0.1s;
        box-shadow: -4px 4px 0px black;
        transform: translate(4px, -4px);
    }
}

.correcto {
    animation: showCorrecto 0.6s;
}

.incorrecto {
    animation: showIncorrecto 0.6s;
}

// Keyframes

@keyframes showNewPass {
    0% {
        z-index: -1;
        top: -5vh;
    }
    99% {
        z-index: -1;
    }
    100% {
        display: block;
        z-index: 0;
        top: 0vh;
    }
}

@keyframes showCorrecto {
    0% {
    }
    50% {
        background-color: $color_verde_correcto;
    }
    100% {
    }
}

@keyframes showIncorrecto {
    0% {
    }
    50% {
        background-color: $color_rojo_error;
    }
    100% {
    }
}
