.navBarra {
    background-color: rgb(10, 65, 120);
}

.tituloNav {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Roboto Slab", serif;
    font-weight: 800;
    font-size: 25px;
    margin-left: 15px;
    margin-right: 80px;
    &:hover {
        color: rgb(255, 255, 255);
    }
}

.listaAjustes {
    background-color: rgb(230, 230, 230);
}

.iconoSidebar {
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.btnSidebar {
    background: none;
    border: none;
}

.iconoUsuario {
    color: rgb(255, 255, 255);
    font-size: 25px;
}


.enlaceItem {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.iconoMenu {
    font-size: 15px;
    margin-left: 10px;
}

.iconoSeccion {
    color: rgb(15, 75, 135);
}

.iconoSalir {
    color: rgb(115, 15, 15);
}

.navbarLogout {
    animation: logout 0.3s 0s 1 ease-in forwards;
}

// Keyframes

@keyframes logout {
    0% {
    }
    30% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        transform: translate(-200px);
    }
}
