.tituloPrecio {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: justify;
    color: rgb(100, 100, 100);
    margin-bottom: 5px;
}

.tituloPuja {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: justify;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.colPrecio {
    border-right: solid rgb(100, 100, 100) 1pt;
}

.colPuja {
    border-left: solid rgb(100, 100, 100) 1pt;
}

.precio {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.bi-hand-thumbs-up-fill {
    font-size: 20px;
    color: rgb(80, 150, 10);
}

.bi-hand-thumbs-down-fill {
    font-size: 20px;
    color: rgb(170, 25, 25);
}

.colIco {
    border-right: solid black 1pt;
}

.colPuja {
    border-left: solid black 1pt;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.rowInfo {
    margin-top: 10px;
}
