<ion-content>

  <ion-grid>
    <ion-row class='ion-justify-content-center ion-align-items-center'>
      <ion-searchbar animated showCancelButton="focus" placeholder="Fecha" [(ngModel)]="invoicesFilter"
        cancelButtonText="Cancelar">
      </ion-searchbar>
    </ion-row>
    <ion-row class='ion-justify-content-center ion-align-items-center'>
      <ion-segment [(ngModel)]="collectedFilter">
        <ion-segment-button value="all">
          <ion-label class="lblSegment">Todas</ion-label>
        </ion-segment-button>
        <ion-segment-button value="collected">
          <ion-label class="lblSegment">Cobradas</ion-label>
        </ion-segment-button>
        <ion-segment-button value="uncollected">
          <ion-label class="lblSegment">Pendientes</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class='ion-justify-content-center ion-align-items-center'>

      <ion-card
        *ngFor="let invoice of invoices | invoiceFilter: invoicesFilter | collectedFilter: collectedFilter; index as i;"
        (click)="goDetail(invoice.invoiceId);">
        <ion-card-header>
          <ion-card-subtitle class="collectedInfo">
            <ion-icon *ngIf="invoice.collected" class="collected" name="checkmark-circle"></ion-icon>
            <ion-icon *ngIf="!invoice.collected" class="noCollected" name="close-circle"></ion-icon>
          </ion-card-subtitle>
          <ion-card-subtitle class="invoiceDate">{{invoice.date | date: "d/M/yyyy" }}</ion-card-subtitle>
          <ion-card-title class="invoiceCustomer">{{invoice.customerId.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="invoiceAmount">
          {{invoice.totalAmount}} €
        </ion-card-content>
      </ion-card>

    </ion-row>
  </ion-grid>

</ion-content>