<ion-content>
  <ion-grid>
    <ion-row class='ion-justify-content-center ion-align-items-center'>

      <ion-card>
        <ion-card-header>
          <ion-card-title class="customerName">{{customer.name}}</ion-card-title>
          <ion-card-subtitle class="customerInfo">{{customer.email}}</ion-card-subtitle>
          <ion-card-subtitle class="customerInfo">
            {{customer.phone}} <span class="dividerBar">/</span> {{customer.contact}}
          </ion-card-subtitle>
          <ion-card-subtitle class="customerInfo">{{customer.address}}</ion-card-subtitle>
          <ion-card-subtitle class="customerInfoExtra">CIF: <span class="cieText">{{customer.cif}}</span>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="customerRemarks">
          {{customer.remarks}}
        </ion-card-content>
      </ion-card>

    </ion-row>
  </ion-grid>
</ion-content>