<ion-content>
  <ion-grid>
    <ion-row class='ion-justify-content-center ion-align-items-center'>
      <ion-col size='10'>
        <ion-card>

          <ion-card-header>
            <ion-card-title class="customerName">{{customer.name}}</ion-card-title>
          </ion-card-header>

          <ion-card-content class="customerDataContainer">
            <p class="customerInfo">
              {{customer.email}}
            </p>
            <p class="customerInfo">
              {{customer.phone}} <span class="dividerBar">/</span> {{customer.contact}}
            </p>
            <p class="customerInfo">
              {{customer.address}}
            </p>
            <p class="customerInfoExtra">
              CIF: <span class="cieText">{{customer.cif}}</span>
            </p>
          </ion-card-content>

          <ion-card-content class="customerRemarks">
            {{customer.remarks}}
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>