<ion-content>
  <ion-grid>
    <ion-row class='ion-justify-content-center ion-align-items-center'>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Nombre Cliente</ion-card-title>
          <ion-card-subtitle>Email Cliente</ion-card-subtitle>
          <ion-card-subtitle>Teléfono Cliente / Contacto Cliente</ion-card-subtitle>
          <ion-card-subtitle>CIF Cliente</ion-card-subtitle>
          <ion-card-subtitle>Dirección Cliente</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Comentarios Cliente
        </ion-card-content>
      </ion-card>

    </ion-row>
  </ion-grid>
</ion-content>