/* Colors */
$color_blue: rgb(20, 100, 160);
$color_grey: rgb(100, 100, 100);
$color_red_error: rgb(100, 10, 10);
$color_green_success: rgb(10, 100, 10);

.customerIcon {
    color: $color_blue;
    margin-right: 10px;
}

.customerName {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.customerInfo {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.dividerBar {
    color: $color_blue;
    font-weight: 600;
}
