.imgContainer {
    z-index: -100;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.imgFondo {
    position: relative;
    right: -15vh;
    bottom: -70px;
    opacity: 10%;
}

.titleRow {
    margin-bottom: 20px;
}

.title {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: rgb(100, 100, 100);
}

.titleIcon {
    color: rgb(15, 75, 135);
    margin-right: 5px;
}

.optionsRow {
    margin-bottom: 25px;
}

.cardSubasta {
    width: 300px;
    border: solid rgb(200, 200, 200) 2px;
    box-shadow: -7px 7px 8px rgb(200, 200, 200);
    margin-bottom: 25px;
}

.cardSubasta:hover {
    border: solid rgb(15, 75, 135, 0.6) 2px;
    box-shadow: -13px 13px 8px rgb(15, 75, 135, 0.5);
    transform: translate(6px, -6px);
    transition: 0.2s;
    cursor: pointer;
}

.card-img-top {
    height: 180px;
}

.cardText {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.cardName {
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.cardDate {
    font-size: 15px;
    color: rgb(100, 100, 100);
}

.cardWeight {
    font-size: 20px;
    color: rgb(15, 75, 135);
}

.cardPrice {
    font-size: 20px;
    color: rgb(190, 160, 0);
}

.card-footer {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: rgb(100, 100, 100);
}

// Buscar

.searchRow {
    margin-bottom: 20px;
}

.searchCol {
    margin-bottom: 10px;
}

.btnSearch {
    border-radius: 5px;
    border: solid rgb(0, 0, 0) 2pt;
    background-color: rgb(245, 225, 100);
    transition: 0.1s;
    &:hover {
        box-shadow: 4px 4px 0px;
        transform: translate(-4px, -4px);
    }
}

.findIcon {
    font-size: 20px;
}

.searchInput {
    margin-left: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    border: solid rgb(0, 0, 0) 2pt;
    background-color: rgb(240, 240, 240);
    outline: none;
    transition: 0.2s;
    &:focus {
        box-shadow: 4px 4px 0px;
        transform: translate(-4px, -4px);
    }
}

.searchSelector {
    cursor: pointer;
    appearance: none;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    border: solid rgb(0, 0, 0) 2pt;
    background-color: rgb(245, 225, 100, 0.5);
    outline: none;
    margin-right: 3px;
}

.separadorSelector {
    margin: 0;
    font-weight: 800;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
}
