<div class="imgContainer">
    <img class="imgFondo img-fluid" src="../../../../assets/img/martillo.png" alt="fondo">
</div>

<div class="container-fluid">

    <div class="row titleRow">
        <div class="col-12 d-flex justify-content-between">
            <h1 class="title">
                <i class="bi bi-house-door titleIcon"></i>
                CASA DE SUBASTAS
            </h1>
            <button class="btnSearch" (click)="activarBuscar();"><i class="bi bi-search findIcon"></i></button>
        </div>
    </div>

    <div *ngIf="buscarActivo" class="row searchRow">
        <div class="col-12 d-flex justify-content-end searchCol">
            <input type="text" [(ngModel)]="filtroFE" class="searchInput" placeholder="Fecha o Especie">
        </div>
        <div class="col-12 d-flex justify-content-end searchCol">
            <select [(ngModel)]="filtroPRComparador" class="searchSelector">
                <option value="ma">Mayor que</option>
                <option value="me">Menor que</option>
                <option value="ig">Igual a</option>
            </select>
            <p class="separadorSelector d-flex align-items-center">:</p>
            <input type="number" [(ngModel)]="filtroPRCantidad" class="searchInput" placeholder="Precio">
        </div>
    </div>

    <div class="row auctionsRow">
        <div *ngFor="let e of eventos | filtroProductos: filtroFE | filtroPrecio: filtroPRComparador: filtroPRCantidad;"
            class="col-12 col-md-4 col-xl-3 d-flex justify-content-center">
            <div class="card cardSubasta" [routerLink]="['/m/subasta',e._id]">
                <img *ngIf="e.imagen?.public_id == 0" class="card-img-top" src="assets/img/Pez.png" alt="Subasta">
                <img *ngIf="e.imagen?.public_id != 0" class="card-img-top" [src]="e.imagen?.secure_url" alt="Subasta">
                <div class="card-body">
                    <h6 class="cardText cardName">{{e.especie}}</h6>
                    <h6 class="cardText cardDate">{{e.fecha | date:'d/M/yyyy - HH:mm:ss' }}</h6>
                    <h6 class="cardText cardWeight">{{e.peso | number:'.2'}} kg</h6>
                    <h6 class="cardText cardPrice">{{e.precio | number:'.0'}} €</h6>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <small *ngIf="calcularTiempo('M', e.fecha) < 60">
                        Última actualización hace {{calcularTiempo('M', e.fecha)}} {{calcularTiempo('M',e.fecha) == 1 ?
                        ' minuto': 'minutos'}}.
                    </small>
                    <small *ngIf="calcularTiempo('M', e.fecha) >= 60 && calcularTiempo('H', e.fecha) < 24">
                        Última actualización hace {{calcularTiempo('H', e.fecha)}} {{calcularTiempo('H',e.fecha) == 1 ?
                        ' hora':'horas'}}.
                    </small>
                    <small *ngIf="calcularTiempo('H', e.fecha) >= 24">
                        Última actualización hace {{calcularTiempo('D', e.fecha)}} {{calcularTiempo('D',e.fecha) == 1 ?
                        ' día': 'días'}}.
                    </small>
                </div>
            </div>
        </div>
    </div>

</div>