<ion-content>
  <ion-grid>

    <ion-row class='titleRow ion-justify-content-center ion-align-items-center {{loginSuccess ? "correctAccess" : ""}}'>
      <ion-col size='8' sizeMd='6' sizeLg='3' class='centerCol {{!loginSuccess ? "titleCol" : ""}}'>
        <div class="title">
          Facturador
        </div>
        <div class="hiddenTitle">
          <span class="hiddenTitleBy">by</span>
          <span class="hiddenTitleName">JL Pastor</span>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class='contentRow ion-justify-content-center ion-align-items-center'>
      <ion-col size='8' sizeMd='3'>

        <form [formGroup]='loginForm' (ngSubmit)='attemptAccess();'>

          <ion-row class="formRow">
            <ion-col class="centerCol" size='12'>
              <ion-icon class="loginIcon {{loginError ? 'wrongAccess' : ''}}" name="mail-outline">
              </ion-icon>
              <ion-item>
                <ion-input class="form-control {{loginError ? 'wrongAccess' : ''}}" formControlName="email" type="text"
                  placeholder="Email">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="formRow">
            <ion-col class="centerCol" size='12'>
              <ion-icon class="loginIcon {{loginError ? 'wrongAccess' : ''}}"
                name="{{!displayedPassword ? 'lock-closed-outline' : 'lock-open-outline'}}" (click)="showPassword();">
              </ion-icon>
              <ion-item>
                <ion-input class="form-control {{loginError ? 'wrongAccess' : ''}}" formControlName="password"
                  type="{{!displayedPassword ? 'password' : 'text'}}" placeholder="Contraseña">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="formRow">
            <ion-col class="btnCol ion-justify-content-between ion-align-items-center" size='12'>
              <a class="registerLink" (click)="goRegister();">¿Todavía no tienes una cuenta?</a>
              <ion-button type="submit" [disabled]="!loginForm.valid">Acceder</ion-button>
            </ion-col>
          </ion-row>

        </form>

        <ion-row class='mottoRow ion-justify-content-center ion-align-items-center'>
          <p class="motto">Designed and assembled by JL Pastor.</p>
        </ion-row>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>