// Variables
$color_azul: rgb(20, 100, 160);
$color_gris: rgb(100, 100, 100);
$color_rojo_error: rgb(180, 10, 10);
//

.titleRow {
    margin-top: 30px;
    margin-bottom: 20px;
}

.titleCol {
    &:hover .title {
        animation: hideTitle 0.1s 0s 1 normal linear forwards;
    }
    &:hover .hiddenTitle {
        animation: showHiddenTitle 0.1s 0s 1 normal linear forwards;
    }
}

.title {
    font-family: "Roboto Slab", serif;
    font-size: 30px;
    font-weight: 800;
    color: $color_azul;
}

.hiddenTitle {
    position: absolute;
    opacity: 0%;
    font-family: "Roboto Slab", serif;
}

.hiddenTitleBy {
    margin-right: 10px;
    font-size: 20px;
    font-weight: 400;
    color: $color_gris;
}

.hiddenTitleName {
    font-size: 25px;
    font-weight: 800;
    color: $color_azul;
}

.formRow {
    margin-top: 9px;
}

.loginIcon {
    margin-right: 5px;
}

.btnCol {
    margin-top: 9px;
    display: flex;
    justify-content: end;
}

.mottoRow {
    margin-top: 30px;
}

.motto {
    font-family: "Roboto Slab", serif;
    color: $color_gris;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

.wrongAccess {
    animation: wrongAccess 0.5s 1;
}

.correctAccess {
    animation: correctAccess 0.4s 0s 1 normal ease-in-out forwards;
}

ion-input {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
}

ion-button {
    --background: transparent;
    --color: rgb(20, 100, 160);
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.registerLink {
    cursor: pointer;
    color: $color_azul;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

// Keyframes

@keyframes hideTitle {
    from {
    }
    to {
        transform: translate(-100px, 0px);
        opacity: 0%;
    }
}

@keyframes showHiddenTitle {
    from {
        transform: translate(100px, 0px);
    }
    to {
        opacity: 100%;
    }
}

@keyframes wrongAccess {
    0% {
    }
    50% {
        color: $color_rojo_error;
    }
    100% {
    }
}

@keyframes correctAccess {
    from {
    }
    to {
        transform: translate(200px, 0px);
        opacity: 0%;
    }
}
